.jumbotron {
  background-color: #bed4f8;
  background-image: url(img/Par-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#galery {
  background-color: #bed4f8;
  font-size: 11px;
}

#Contact {
  background-color: #bed4f8;
}

section {
  padding-top: 8rem;
}
